{% load extfilters %}
<div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                <p>HrManage</p>
{#                <img src="{{ STATIC_URL }}img/logo.png" alt="logo" style="margin:0;padding:0;height:28px;"/>票师傅#}
            </a>
            <ul class="nav nav-pills">
            {% if user|in_group:"经理,人事" or user.is_superuser %}
                <li class="dropdown" id="menuNotice" active-by-url="\/notice\/">
                    <li active-by-url="\/notice\/"><a href="/notice/list/">公告</a></li>
                </li>
            {% endif %}
{#                staff 动态滚动公告#}
            </ul>

            <ul class="nav nav-pills">
            {% if user|in_group:"经理,人事" or user.is_superuser %}
                <li class="dropdown" id="menuComprehensive" active-by-url="\/comprehensive\/">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menuComprehensive">
                        综合管理
                    </a>
                    <ul class="dropdown-menu">
                        <li active-by-url="\/comprehensive\/department\/set\/"><a href="/comprehensive/department/set/">部门管理</a></li>
                        {% if user|in_group:"经理,人事" %}
                            <li active-by-url="\/comprehensive\/check_in\/"><a href="/comprehensive/check_in/{{ user.id }}/">考勤管理</a></li>
                        {% elif user.is_superuser %}
                            <li active-by-url="\/comprehensive\/check_in\/"><a href="/comprehensive/check_in/all/list">考勤管理</a></li>
                        {% endif %}
                            {#                        staff 个人签到信息#}
                    </ul>
                </li>
            {% else %}
                <li class="dropdown" id="menuComprehensive" active-by-url="\/comprehensive\/">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menuComprehensive">
                        综合管理
                    </a>
                    <ul class="dropdown-menu">
                        <li active-by-url="\/comprehensive\/check_in\/"><a href="/comprehensive/check_in/{{ user.id }}/">考勤管理</a></li>
{#                        staff 个人签到信息#}
                    </ul>
                </li>
            {% endif %}
            </ul>

            <ul class="nav nav-pills">
            {% if user|in_group:"经理,人事" or user.is_superuser %}
                <li class="dropdown" id="menuAccount" active-by-url="\/account\/">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menuAccount">
                        用户管理
                    </a>
                    <ul class="dropdown-menu">
                        <li active-by-url="\/account\/add\/"><a href="/account/add/">添加用户</a></li>
                        <li active-by-url="\/account\/list\/"><a href="/account/list/">用户一览</a></li>
                    </ul>
                </li>
            {% endif %}
            </ul>

            <ul class="nav nav-pills">
                <li class="dropdown" id="menuInformation" active-by-url="\/information\/">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menuInformation">
                        基础信息
                    </a>
                    <ul class="dropdown-menu">
                        {% if not user.is_superuser %}
                        <li active-by-url="\/information\/personal\/"><a href="/information/personal/{{ user.id }}">个人信息</a></li>
                        {% endif %}
                        <li active-by-url="\/information\/contacts\/"><a href="/information/contacts/">通讯录</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                    <li>
                        {% if not user.is_superuser %}
                            <a href="/account/{{ user.id }}/?next=/">
                        {% else %}
{#                            系统管理员不能进入view#}
                            <a href="#">
                        {% endif %}
                        {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}
                        {% if user.groups.all %}
                        ({{ user.groups.all|first }})
                        {% else %}
                            {% if user.is_superuser %}
                                (系统管理员)
                            {% endif %}
                        {% endif %}
                        </a>
                    </li>
                    <li><a id="lnkLogout" href="/account/logout/">注销</a></li>
                {% else %}
                    <li><a id="lnkLogin" href="/account/login/">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>